{% extends "::layout.html.twig" %}

{% block title %}{{ post.title }}, Bloginy{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/bundles/bloginy/post/PostHandler.js') }}"></script>
    <script src="{{ asset('js/bundles/bloginy/utils/AjaxFormHandler.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="post-details-{{ post.id }}" class="post">

        <div class="vote-button">

            <div class="has-voted">
                <strong>{% trans from "bloginy" %}has voted{% endtrans %} <span class="count-votes">10</span></strong>
            </div>

        </div>
        
        <h1 {% if is_arabic(post.title) %}dir="rtl"{% else %}dir="ltr"{% endif %}><a href="{{ path('blog_post_show', {'slug' : post.slug}) }}">{{post.title}}</a></h1>

        <p {% if is_arabic(post.resume) %}dir="rtl"{% else %}dir="ltr"{% endif %}>{{ post.content|raw }}</p>

        <div class="details_bar">
            <span>{{ post.createdAt|date('Y-m-d H:i:s') }}</span>
        </div>
    </div>

{% endblock %}


{% block submenu %}
    <div id="submenu">
        <div class="social_bookmarks">
            <iframe src="http://www.facebook.com/plugins/like.php?href={{ url('blog_post_show', {'slug' : post.slug }) }}&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>

            <a title="{% trans from 'bloginy' %}Tweet This{% endtrans %}"
                  data-url="{{ url('blog_post_show', {'slug' : post.slug }) }}"
                  data-via="bloginy"
                  data-text="{{ post.shortTitle }}"
                  data-count="none" class="twitter-share-button" >Tweet</a>
        </div>
        {% include "BloginyBundle:BlogPost:sub_menu.html.twig" with {'current': 'none'} %}
    </div>
{% endblock %}


{% block sidebarright %}
    <div id="sidebar-right" class="sidebar">
        {% include "BloginyBundle:User:share_button.html.twig" %}
        {% include "BloginyBundle:Blog:identity.html.twig" with {'blog': post.blog} %}
    </div>
{% endblock %}

{% block meta %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ post.title }}"/> 
    <meta property="og:type" content="{{ post.resume }}"/>
    <meta property="og:url" content="{{ url('blog_post_show', {'slug' : post.slug }) }}"/>
    <meta property="og:site_name" content="Bloginy" />
    <meta property="fb:admins" content="592886856" />
{% endblock %}