{% extends "BloginyBundle::layout.html.twig" %}

{% block title %}{{ post.title }}, Bloginy{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="post-details-{{ post.id }}" class="post">
        {% include "BloginyBundle:BlogPost:_metadata.html.twig" with {'post': post} %}

        <h1 {% if is_arabic(post.title) %}dir="rtl"{% else %}dir="ltr"{% endif %}><a href="{{ post.link }}">{{post.title}}</a></h1>
        <div class="details_bar">
            <span>{{ post.createdAt|date('Y-m-d H:i:s') }}</span>
        </div>

        <p {% if is_arabic(post.resume) %}dir="rtl"{% else %}dir="ltr"{% endif %}>{{ post.content|raw }}</p>

    </div>
{% endblock %}


{% block sidebar_left %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "aggregator"} %}
{% endblock %}