<div id="post-resume-{{ post.id }}" class="post {{ class }}">
    <h2 {% if is_arabic(post.title) %}dir="rtl"{% else %}dir="ltr"{% endif %}><a href="{{ post.link }}">{{post.shortTitle}}</a></h2>

    <div class="post-content">
        <p {% if is_arabic(post.resume) %}dir="rtl"{% else %}dir="ltr"{% endif %}>{{ post.resume|raw }}</p>
    </div>
</div>