<div class="vote-button">
    {% if vote %}
        <div class="has-voted">
            <strong>{% trans from "bloginy" %}has voted{% endtrans %} <span class="count-votes">{{ post.post.countVotes }}</span></strong>
        </div>
    {% elseif post.post %}
        <a class="vote-link {% if is_granted('ROLE_REGISTRED_USER') %}effective{% endif %}" href="{{ path('post_vote', {'slug': post.post.slug}) }}" title="Voter">
            <strong>{% trans from "bloginy" %}Vote{% endtrans %} <span class="count-votes">{{ post.post.countVotes }}</span></strong>
        </a>
    {% else %}
        <a id="propose-link-{{ post.id }}" class="propose-link" href="{{ path('user_blog_post_propose', {'slug': post.slug}) }}"><strong>{% trans from "bloginy" %}Propose{% endtrans %}</strong></a>
    
        <script>
            $(document).ready(function() {
                $("a#propose-link-{{ post.id }}").fancybox();
            });
        </script>
    {% endif %}
</div>