<div class="comment" id="comment_{{comment.id}}">
    {% include "BloginyBundle:Comment:avatar.html.twig" with {'comment': comment} %}
    
    <div class="comment_details {{ comment.approved ? 'approved' : 'waiting' }}">
        <div>
            
            {% if comment.user %}
                <a href="{{ path('user_profile', {'username': comment.user.username}) }}" class="username">{{comment.username}}</a>
            {% elseif comment.webSite %}
                <a href="{{ comment.webSite }}" class="username">{{comment.username}}</a>
            {% else %}
                <span class="username">{{comment.username}}</span>
            {% endif %}
            {% trans from "bloginy" %}said on{% endtrans %} {{comment.createdAt|date("m/d/Y")}} {% trans from "bloginy" %}at{% endtrans %} {{comment.createdAt|date("h:i")}} : 
        </div>
        <div {% if is_arabic(comment.comment) %}dir="rtl"{% else %}dir="ltr"{% endif %} class="message">{{ comment.comment|raw }}</div>
        <div class="comment_sub_menu">
            {% if not comment.approved %}
                <a class="approve_link sub_menu_item" href="{{ path('user_approve_comment', {'comment_id': comment.id}) }}">{% trans from 'bloginy' %}Approve{% endtrans %}</a>
            {% endif %}
            <a class="delete_link sub_menu_item" href="{{ path('user_delete_comment', {'comment_id': comment.id}) }}">{% trans from 'bloginy' %}Delete{% endtrans %}</a>
            
            <div class="post_link">
                <strong>{% trans from 'bloginy' %}Post{% endtrans %} :</strong> 
                <a href="{{ path('post_show', {'slug' : comment.post.slug}) }}" title="{{ comment.post.title }}">{{comment.post.shortTitle(30)}}</a>
            </div>
        </div>
    </div>
</div>

<script>
    var handler = new CommentHandler($('#comment_{{comment.id}}'));
    handler.init();
</script>