<div class="comment">
    {% include "BloginyBundle:Comment:avatar.html.twig" with {'comment': comment} %}
    
    <div class="comment_details">
        <div>
            {% if comment.user %}
                <a href="{{ path('user_profile', {'username': comment.user.username}) }}" class="username">{{comment.username}}</a>
            {% elseif comment.webSite %}
                <a href="{{ comment.webSite }}" class="username">{{comment.username}}</a>
            {% else %}
                <span class="username">{{comment.username}}</span>
            {% endif %}
            {% trans from "bloginy" %}said on{% endtrans %} {{comment.createdAt|date("m/d/Y")}} {% trans from "bloginy" %}at{% endtrans %} {{comment.createdAt|date("h:i")}} : </div>
        <div class="message" {% if is_arabic(comment.comment) %}dir="rtl"{% else %}dir="ltr"{% endif %} >{{ comment.comment|raw }}</div>
    </div>
</div>