{% extends "::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "bloginy" %}Contact us{% endtrans %}{% endblock %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" %}
{% endblock %}

{% block body %}

    <h1>{% trans from "bloginy" %}Contact us{% endtrans %}</h1>

    <form class="form" action="{{ path('bloginy_contact') }}" {{ form_enctype(form) }} method="post">
        <table>
            <tr>
                <td></td>
                <td>{{ form_errors(form) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.name) }}</td>
                <td>
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.email) }}</td>
                <td>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.subject) }}</td>
                <td>
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.message) }}</td>
                <td>
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.captcha, 'Copy the captcha') }}</td>
                <td class="captcha">
                    {{ form_errors(form.captcha) }}
                    {{ form_widget(form.captcha) }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="button2">{% trans from 'bloginy' %}Send the message{% endtrans %}</button>
                    {{ form_rest(form) }}
                </td>
            </tr>
        </table>
    </form>

    {% if app.session.hasFlash('notice') %}
        <script>
            BloginyMessage.show("{{ app.session.flash('notice')|trans({}, 'bloginy') }}");
        </script>
    {% endif %}
{% endblock %}

{% block submenu %}
    <div id="submenu">
    </div>
{% endblock %}
