{% extends "::layout.html.twig" %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" %}
{% endblock %}

{% block submenu %}
     <div id="submenu"></div>
{% endblock %}

{% block body %}
    <h1>{% trans from "bloginy" %}API errors{% endtrans %}</h1>
    
    <p>L'appel aux différentes fonctions de l'API Restful de Bloginy peut renvoyer des erreurs. En cas d'erreur, la réponse obtenue est la suivante :</p>
    <br />
    <code>
    {{ '<?xml version="1.0" encoding="utf-8"?>'|e }}<br />
    {{ '<bloginy_api>'|e }}<br />
    {{ '<erreur>'|e }}<br />
    {{ '<status>code status</status>'|e }}<br />
    {{ '<message>Message d\'erreur</message>'|e }}<br />
    {{ '</erreur>'|e }}<br />
    {{ '</bloginy_api>'|e }}
    </code>
    
    <h2>les erreurs possibles :</h2>
    <table class="bloginytable">
      <thead>
        <tr>
          <th>Code</th>
          <th>Message</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>200</td>
          <td>Wrong parameters</td>
          <td>Les paramètres passés sont incorrects</td>
        </tr>
        <tr>
          <td>201</td>
          <td>Wrong Developper Authentification</td>
          <td>Les paramètres d'authentification passé (apiket et clientname) sont incorrects</td>
        </tr>
        <tr>
          <td>300</td>
          <td>User unknown</td>
          <td>Le nom d'utilisateur passé en paramètre est introuvable</td>
        </tr>
        <tr>
          <td>301</td>
          <td>Blog unknown</td>
          <td>Le blog passé en paramètre est introuvable</td>
        </tr>

      </tbody>
    </table>

{% endblock %}

{% block sidebarleft %}
    <div id="sidebar-left" class="sidebar">
        {% include "BloginyBundle:Developer:menu.html.twig" with {'current': 'errors'} %}
    </div>
{% endblock %}