{% extends "::layout.html.twig" %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" %}
{% endblock %}

{% block submenu %}
     <div id="submenu"></div>
{% endblock %}

{% block body %}
    <h1>{% trans from "bloginy" %}Top posts API{% endtrans %}</h1>
    
    <p>Cette fonction vous permet de récupérer les quinze articles qui
    sont à la une de Bloginy.</p> 
    <br /> 
    <h2>Utilisation de la fonction :</h2> 
    <p>Il suffit d'appeler l'URL suivante avec les paramètres adéquats :</p> 
    <code>http://www.bloginy.com/api/topFeeds/<span class="param">apiCode</span>/<span
            class="param">clientName</span>?page=<span class="param">2</span></code> 
    <p><strong>apiCode : </strong>correspond à votre code d'API</p> 
    <p><strong>clientName : </strong>correspond au nom de donné à votre
    Application</p> 
    <br /> 
    <h2>Paramètres faculatifs :</h2> 
    <p><strong>page : </strong>numéro de la page des résultats (valeur par défaut égale à 1).</p> 
    <br /> 
    <h2>Résultats obtenus :</h2> 
    <p>En cas de succès, on obtient :</p> 
    <code>
    {{ '<?xml version="1.0" encoding="utf-8"?>'|e }}<br />
    {{ '<bloginy_api>'|e }}<br />
    {{ '<feeds>'|e }}<br />
    {{ '<feed>'|e }}<br />
    {{ "<title>Titre de l'article</title>"|e }}<br />
    {{ "<link>Lien vers l'article sur Bloginy</link>"|e }}<br />
    {{ '<pubdate>Date de publication</pubdate>'|e }}<br />
    {{ "<author>Username de l'auteur sur bloginy</author>"|e }}<br />
    {{ "<description>Le corp de l'article</description>"|e }}<br />
    {{ '<votes>Le nombre de votes pour cet article</votes>'|e }}<br />
    {{ '</feed>'|e }}<br />
    <br />
    ...... <br />
    <br />
    {{ '</feeds>'|e }}<br />
    {{ '</bloginy_api>'|e }}
    </code>
    <p>Pour plus détails sur les erreurs possibles, <a href="/developer/errors">cliquez ici</a>.</p>
{% endblock %}

{% block sidebarleft %}
    <div id="sidebar-left" class="sidebar">
        {% include "BloginyBundle:Developer:menu.html.twig" with {'current': 'top_posts'} %}
    </div>
{% endblock %}