{% extends "RizewayDyalnaUIBundle::layout.html.twig" %}


{% block title %}Bloginy : {% trans from "bloginy" %}Blog Aggregator{% endtrans %}{% endblock %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="Bloginy : {% trans from "bloginy" %}Blog Aggregator{% endtrans %}" href="{{ url('feed_index') }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet/less" href="{{ asset('bundles/bloginy/less/bloginy.less') }}" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloginy/js/jquery.color.js') }}"></script>
    <script src="{{ asset('bundles/bloginy/js/menu.js') }}"></script>
{% endblock %}

{% block logo %}<a id="logo" href="{{ path('homepage') }}">Bloginy</a>{% endblock %}

{% block content %}
    
    <div style="overflow: hidden">
        <div id="sidebar-left">
            {% block sidebar_left %}
            {% endblock %}
        </div>


        <div id="sidebar-right" class="sidebar">
            {% block sidebar_right %}
                {% render "BloginyBundle:Blog:dailyBlog" %}
                {% include "BloginyBundle:Blog:propose_button.html.twig" %}
                {% render "BloginyBundle:Blog:last" %}
            {% endblock %}  
        </div>
        
        <div id="content-center">
        {% block body %}
        {% endblock %}
        </div>
    </div>

{% endblock %}

{% block search %}
    {% include "BloginyBundle:BlogPost:_search_form.html.twig" %} 
{% endblock %}


{% block footer %}
    {% include "BloginyBundle:Utils:_footer.html.twig" %} 
{% endblock %}

{% block body_class %}
{% render "BloginyBundle:Utils:languageClass" %}
{% endblock %}