<div id="post-resume-{{ post.id }}" class="post {{ class }}">

    {% include "BloginyBundle:Post:vote_button.html.twig" with {'post' : post, 'vote' : vote} %}

    {% if post.link is not empty %}
        <h2 {% if is_arabic(post.title) %}dir="rtl"{% else %}dir="ltr"{% endif %}><a href="{{ path('post_show', {'slug' : post.slug}) }}">{{post.shortTitle}}</a></h2>
    {% else %}
        <h2 {% if is_arabic(post.title) %}dir="rtl"{% else %}dir="ltr"{% endif %}><a href="{{ path('post_details', {'slug' : post.slug}) }}">{{post.shortTitle}}</a></h2>
    {% endif %}

    <p {% if is_arabic(post.resume) %}dir="rtl"{% else %}dir="ltr"{% endif %}>{{ post.resume|raw }}</p>
    
    <div class="details_bar">
        <span>{{ post.createdAt|date('Y-m-d H:i:s') }}</span>
        <a href="{{ path('post_details', {'slug' : post.slug}) }}#comment_list" class="comment_link">{{ post.countComments }} {% trans from "bloginy" %}Comment(s){% endtrans %}</a>
        <span>{% trans from "bloginy" %}Proposed by{% endtrans %} : </span> <a href="{{ path('user_profile', {'username': post.user.username}) }}">{{ post.user.username }}</a>
    </div>
</div>

<script>
    post = new PostHandler($('#post-resume-{{ post.id }}'));
    post.init();
</script>