<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE bloginy_api PUBLIC "-//Bloginy//Bloginy API DTD//FR" "http://www.bloginy.com/bloginy.dtd">
<bloginy_api>
  <feeds>
    {% for post in posts %}
        <feed>
        <feed_id>{{ post.id }}</feed_id>
        <title>{{ post.title }}</title>
        <link>{{ url('post_show', {'slug': post.slug}) }}</link>
        <pubdate>{{ post.createdAt|date('Y-m-d H:i:s') }}</pubdate>
        <author>{{ post.user.username }}</author>
        <description>
            {{ post.resume }}
         </description>
        <votes>{{ post.countVotes }}</votes>
        </feed>
    {% endfor %}
  </feeds>
</bloginy_api>