{% extends "BloginyBundle::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "bloginy" %}Popular blogs{% endtrans %}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloginy/js/BloginyPager.js') }}"></script>
    <script src="{{ asset('bundles/bloginy/js/OptionSelector.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="blogs-list">
        {% include "BloginyBundle:Blog:list_ajax.html.twig" with {'blogs': blogs, 'show_pager': show_pager, 'page': page, 'location': location, 'language': language} %}
    </div>

{% endblock %}


{% block sidebar_left %}
    {{ render(controller("BloginyBundle:Utils:mainMenu", {"current": "blogs"})) }}
    {{ render(controller("BloginyBundle:Blog:locationFilter", {'location': location, 'language': language})) }}
    {{ render(controller("BloginyBundle:Blog:languageFilter", {'location': location, 'language': language})) }}
{% endblock %}

{% block search %}
    {% include "BloginyBundle:Blog:search_form.html.twig" %}
{% endblock %}