{% extends "BloginyBundle::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "bloginy" %}Search blogs{% endtrans %}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloginy/js/BloginyPager.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="blogs-list">
        {{ render(controller( "BloginyBundle:Blog:searchBlogs", {'filter': filter})) }}
    </div>

{% endblock %}

{% block sidebarright %}
    <div id="sidebar-right" class="sidebar">
        {% include "BloginyBundle:Blog:propose_button.html.twig" %}
        {{ render(controller("BloginyBundle:Blog:dailyBlog")) }}
        {{ render(controller("BloginyBundle:Blog:last")) }}
    </div>
{% endblock %}

{% block search %}
    {% include "BloginyBundle:Blog:search_form.html.twig" with {'value': filter} %}
{% endblock %}

{% block sidebar_left %}
    {{ render(controller( "BloginyBundle:Utils:mainMenu", {"current": "blogs"})) }}
{% endblock %}