{% extends "BloginyBundle::layout.html.twig" %}

{% block title %}{{ blog.title }}, Bloginy{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloginy/js/BloginyPager.js') }}"></script>
{% endblock %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" with {'current': 'blogs'} %}
{% endblock %}

{% block body %}

    <div class="blog_resume" >
        <div class="blog_thumbnail">
            <div class="blog_thumbnail_loading"><img src="{{ asset('bundles/bloginy/images/ajax-loader.gif') }}" alt="loading blog thumbnail" /></div>
        </div>

        <div class="title_menu">

            <span class="blog_location">{{ blog.location }}</span>

            <span>
                <a href="{{ blog.feedUrl }}" title="{% trans from 'bloginy' %}Follow this blog feed{% endtrans %}">
                    <img src="{{ asset('bundles/bloginy/images/rss-icon-small.png') }}" alt="" />
                </a>
            </span>

        </div>

        <h1>{% trans from "bloginy" %}Blog{% endtrans %} : <span {% if is_arabic(blog.title) %}dir="rtl"{% else %}dir="ltr"{% endif %}>{{ blog.title }}</span></h1>
        <a href="{{ blog.url }}" class="small_link">{{ blog.url }}</a>

        <p class="separator-top" {% if is_arabic(blog.description) %}dir="rtl"{% else %}dir="ltr"{% endif %}>{{ blog.description }}</p>


        <script>
            $('.blog_thumbnail').load("{{ path('blog_thumbnail', {'slug' : blog.slug })}}");
        </script>
    </div>

    <div id="posts-list">
      {% render "BloginyBundle:Blog:posts" with { "slug" : blog.slug } %}
    </div>

{% endblock %}

{% block sidebar_right %}
    <div class="google-block">
        <h4 class="simple-sidebar-title">Google</h4>
        <div class="sidebar-block google_ranking sidebar_loading"><img src="{{ asset('bundles/bloginy/images/ajax-loader.gif') }}" alt="loading blog thumbnail" /></div>
    </div>

    <div class="alexa-block">
        <h4 class="simple-sidebar-title">Alexa</h4>
        <div class="sidebar-block alexa_ranking sidebar_loading"><img src="{{ asset('bundles/bloginy/images/ajax-loader.gif') }}" alt="loading blog thumbnail" /></div>
    </div>

    <script>
        $('.google_ranking').load("{{ path('blog_google_ranking', {'slug' : blog.slug })}}");
        $('.alexa_ranking').load("{{ path('blog_alexa_ranking', {'slug' : blog.slug })}}");
    </script>
    
    {% include "BloginyBundle:Blog:propose_button.html.twig" %}
{% endblock %}


{% block search %}
    {% include "BloginyBundle:Blog:search_form.html.twig" %}
{% endblock %}

{% block sidebar_left %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "blogs"} %}
{% endblock %}