{% extends "::layout.html.twig" %}

{% block title %}{{ user.name }}, Bloginy{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/bundles/bloginy/utils/BloginyTabs.js') }}"></script>
    <script src="{{ asset('js/bundles/bloginy/utils/bloginyPager.js') }}"></script>
    <script src="{{ asset('js/bundles/bloginy/post/PostHandler.js') }}"></script>
    <script src="{{ asset('js/bundles/bloginy/utils/VerticalMenu.js') }}"></script>
    <script src="{{ asset('js/bundles/bloginy/page/NewPageView.js') }}"></script>
{% endblock %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "user"} %}
{% endblock %}

{% block submenu %}
     <div id="submenu">
        <div id="icons-menu">
            <a href="{{ path('feed_user_posts', {'username': user.username}) }}" class="rss_icon icon" title="{% trans from 'Bloginy' %}Follow this page's feed{% endtrans %}">{% trans from "Bloginy" %}Follow this page's feed{% endtrans %}</a>
        </div>
        {% include "BloginyBundle:User:submenu.html.twig" with {'current': 'dashboard'} %}
     </div>
{% endblock %}

{% block body %}
    <div id="user_profile_content">
        {% render "BloginyBundle:User:posts" with {'username': user.username} %}
    </div>

    {% if app.session.hasFlash('notice') %}
        <script>
            BloginyMessage.show("{{ app.session.flash('notice') }}");
        </script>
    {% endif %}
    
{% endblock %}

{% block sidebarleft %}
    <div id="sidebar-left" class="sidebar">
        {% render "BloginyBundle:User:profileMenu" with {'username': user.username, 'dashboard': true} %}
    </div>
{% endblock %}


{% block sidebarright %}
    <div id="sidebar-right" class="sidebar">
        {% include "BloginyBundle:User:identity.html.twig" with {'user': user} %}
        {% include "BloginyBundle:User:share_button.html.twig" %}
        {% include "BloginyBundle:Blog:propose_button.html.twig" %}
        {% include "BloginyBundle:Post:tag_cloud.html.twig" with {'tags': tags} %}
    </div>
{% endblock %}