<div id="shared-link-informations">
    
    <form class="form" action="{{ path('user_init_shared_link') }}{{ blog_post ? '?blog_post_slug='~blog_post.slug: ''}}" {{ form_enctype(form) }} method="post">
        <h4>{% trans from 'bloginy' %}Link details{% endtrans %} :</h4>
        
        <div>{{ form_label(form.title) }}</div>
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        
        <div>{{ form_label(form.content) }}</div>
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
        
        <div>{{ form_label(form.category) }}</div>
        {{ form_errors(form.category) }}
        {{ form_widget(form.category) }}
        
        <div>
            {{ form_label(form.tags) }}
            <img class="help" title="{% trans from 'bloginy' %}Tags describing the post. example : football, sport...{% endtrans %}" src="{{ asset('images/icons/help.png') }}"/>
        </div>
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}
        
        <div class="small-spacer-top"><button class="button2">{% trans from 'bloginy' %}Share{% endtrans %}</button></div>
        {{ form_rest(form) }}
    </form>

    <script>
        $(".form .help").tooltip({ position: "top center", opacity: 0.7, effect: 'fade'});
    </script>
</div>