{% extends "::layout.html.twig" %}

{% block title %}{{ user.name }}, Bloginy{% endblock %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "user"} %}
{% endblock %}

{% block submenu %}
     <div id="submenu">
        {% include "BloginyBundle:User:submenu.html.twig" with {'current': 'settings'} %}
     </div>
{% endblock %}

{% block body %}
    <h1>{% trans from "bloginy" %}Change your password{% endtrans %}</h1>

    <form class="form" action="{{ path('user_password') }}" {{ form_enctype(form) }} method="post">
        <table>
            <tr>
                <td></td>
                <td>{{ form_errors(form) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.current_password) }}</td>
                <td>
                    {% if error == 'current_password' %}
                        <div>{% trans from 'bloginy' %}Your current password is wrong{% endtrans %}.</div>
                    {% endif %}
                    {{ form_errors(form.current_password) }}
                    {{ form_widget(form.current_password) }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{{ form_label(form.new_password.first, 'New password') }}</td>
                <td>
                    {{ form_errors(form.new_password) }}
                    {{ form_errors(form.new_password.first) }}
                    {{ form_widget(form.new_password.first) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.new_password.second, 'Repeat the password') }}</td>
                <td>
                    {{ form_errors(form.new_password.second) }}
                    {{ form_widget(form.new_password.second) }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="button2">{% trans from 'bloginy' %}Change your password{% endtrans %}</button>
                    {{ form_widget(form._token) }}
                </td>
            </tr>
        </table>
    </form>

    {% if saved %}
        <script>
            $(document).ready(function(){BloginyMessage.show("{% trans from 'bloginy' %}Your password has been changed successfully{% endtrans %}.")});
        </script>
    {% endif %}
{% endblock %}


{% block sidebarleft %}
    <div id="sidebar-left" class="sidebar">
        {% include "BloginyBundle:User:settings_menu.html.twig" with {'current': 'password'} %}
    </div>
{% endblock %}


{% block sidebarright %}
    <div id="sidebar-right" class="sidebar">
        {% include "BloginyBundle:User:identity.html.twig" with {'user': user} %}
    </div>
{% endblock %}