{% extends "::layout.html.twig" %}

{% block title %}{{ user.name }}, Bloginy{% endblock %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "user"} %}
{% endblock %}

{% block submenu %}
     <div id="submenu">
        {% include "BloginyBundle:User:submenu.html.twig" with {'current': 'settings'} %}
     </div>
{% endblock %}

{% block body %}
    <h1>{% trans from "bloginy" %}Social Networks{% endtrans %}</h1>

    <p>{% trans from "bloginy" %}Fill your bloginy profile with your social profiles addresses{% endtrans %}.</p>
    <form class="form" action="{{ path('user_social_networks') }}" {{ form_enctype(form) }} method="post">
        <table>
            <tr>
                <td></td>
                <td>{{ form_errors(form) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.twitter) }}</td>
                <td>
                    {{ form_errors(form.twitter) }}
                    {{ form_widget(form.twitter) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_label(form.facebook) }}</td>
                <td>
                    {{ form_errors(form.facebook) }}
                    {{ form_widget(form.facebook) }}
                </td>
            </tr>
            <tr class="spacer">
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="button2">{% trans from 'bloginy' %}Save modifications{% endtrans %}</button>
                    {{ form_rest(form) }}
                </td>
            </tr>
        </table>
    </form>

    {% if saved %}
        <script>
            $(document).ready(function(){BloginyMessage.show("{% trans from 'bloginy' %}Your settings has been saved successfully{% endtrans %}.")});
        </script>
    {% endif %}
{% endblock %}


{% block sidebarleft %}
    <div id="sidebar-left" class="sidebar">
        {% include "BloginyBundle:User:settings_menu.html.twig" with {'current': 'social_networks'} %}
    </div>
{% endblock %}


{% block sidebarright %}
    <div id="sidebar-right" class="sidebar">
        {% include "BloginyBundle:User:identity.html.twig" with {'user': user} %}
    </div>
{% endblock %}