<div id="write-new-post">
    <form class="form" action="{{ path('user_write_post') }}" {{ form_enctype(form) }} method="post">
        
        <div>{{ form_label(form.title) }}</div>
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        
        <div class="wysiwyg">{{ form_label(form.content) }}</div>
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
        
        <div>{{ form_label(form.category) }}</div>
        {{ form_errors(form.category) }}
        {{ form_widget(form.category) }}
        
        <div>
            {{ form_label(form.tags) }}
            <img class="help" title="{% trans from 'bloginy' %}Tags describing the post. example : football, sport...{% endtrans %}" src="{{ asset('images/icons/help.png') }}"/>
        </div>
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}


        <div class="small-spacer-top"><button class="button2">{% trans from 'bloginy' %}Publish{% endtrans %}</button></div>
        {{ form_rest(form) }}
    </form>


    <script>
        $(".form .help").tooltip({ position: "top center", opacity: 0.7, effect: 'fade'});
    </script>
</div>